@page
@using EShop.Application.Dtos
@model IndexModel
@{
    ViewData["Title"] = "محصولات";
}

<h3 class="mb-4">محصولات</h3>

<div class="row">
    @foreach (var product in Model.Products.Where(p => !p.IsDelete))
    {
        <partial name="_ProductBox" model="product" />
    }
</div>

@section Scripts {
          <script>
        window.productsData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Products))
        window.serverCartItems = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.CartItems ?? new List<EShop.Application.Dtos.CartItemDto>()));  
        window.userIsLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>    
    <script src="~/js/shopcart.js" defer></script>
}
