@page
@model EShop.Web.Pages.Product.EditModel
@{
    ViewData["Title"] = "ویرایش محصول";
}

<div class="card p-4 shadow-sm">
    <h4 class="mb-3">ویرایش محصول</h4>

    <form method="post">

        <input type="hidden" asp-for="Product.Id" />

        <div class="mb-3">
            <label class="form-label">عنوان</label>
            <input class="form-control" asp-for="Product.Title" />
        </div>

        <div class="mb-3">
            <label class="form-label">توضیحات</label>
            <textarea class="form-control" asp-for="Product.Description"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">آدرس تصویر</label>
            <input class="form-control" asp-for="Product.ImagePath" />
        </div>

        <div class="mb-3">
            <label class="form-label">قیمت</label>
            <input class="form-control" asp-for="Product.UnitCost" />
        </div>

        <div class="mb-3">
            <label class="form-label">موجودی</label>
            <input class="form-control" asp-for="Product.Stock" />
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" asp-for="Product.IsInSlider" />
            <label class="form-check-label">قرار گرفتن در اسلایدر</label>
        </div>

        <button class="btn btn-success">ویرایش</button>
        <a href="/Products" class="btn btn-secondary">انصراف</a>

    </form>

</div>
