@page
@model EShop.Web.Pages.CategoryP.DeleteModel
@{
    Layout = "_AdminPageLayout";
    ViewData["Title"] = "حذف دسته بندی";
}

<div class="container mt-4">
    <div class="card shadow p-4">

        <h4 class="text-danger mb-3">حذف دسته‌بندی</h4>

        <p>آیا از حذف دسته‌بندی زیر مطمئن هستید؟</p>

        <form method="post">
            <input type="hidden" asp-for="Category.Id" />

            <div class="mb-3">
                <label class="form-label">نام دسته‌بندی</label>
                <input asp-for="@Model.Category.Title" class="form-control" readonly />
                <span asp-validation-for="Category.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">توضیحات</label>
                <textarea asp-for="@Model.Category.Description" class="form-control" rows="4" readonly></textarea>
            </div>

            <button type="submit" class="btn btn-danger px-4">حذف</button>
            <a asp-page="/CategoryP/Index" class="btn btn-secondary px-4">بازگشت</a>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
